.home {
    background-image: url(starter-code/assets/home/background-home-desktop.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
}

.dest {
    background-image: url(starter-code/assets/destination/background-destination-desktop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
}

.crew {
    background-image: url(starter-code/assets/crew/background-crew-desktop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
}

.tech {
    background-image: url(starter-code/assets/technology/background-technology-desktop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
}

.bellefair-regular {
    font-family: "Bellefair", serif;
    font-weight: 400;
    font-style: normal;
    line-height: 171.9%;
    letter-spacing: 0;
    text-transform: uppercase;
}

.barlow-regular {
    font-family: "Barlow", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 180%;
    letter-spacing: 0;

}

.barlow-condensed-regular {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
}

body {
    margin: 0;
}

.menu-icon {
    display: none;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0 0 50px;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.navlink {
    background-color: rgba(255, 255, 255, .1);  
    backdrop-filter: blur(5px);
    padding: 0 300px 0 60px;
    margin: 0;
}

.navlink>li {
    padding: 30px 10px 30px 10px;
    color: #fff;
}

.navlink li.active a {
    border-bottom: 2px solid #fff;
    color: #fff;
}

a {
    color: inherit;
    font-size: 15px;
    padding: 1rem;
    text-transform: uppercase;
    text-decoration: none;
}

.navlink a:hover {
    border-bottom: 1px solid #fff;
}

.navlink a:target {
    border-bottom: 2px solid #fff;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 250px;
    height: 100vh;
    z-index: 999;
    background-color: rgba(255, 255, 255, .1);  
    backdrop-filter: blur(5px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li {
    width: 100%;
}

.sidebar a {
    width: 100%;
}

#icon {
    width: auto;
}

.sect-home {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.home-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 30%;
    margin: 100px 0 0 0;
}

.h2-home {
    font-size: 28px;
    margin: 0;
    text-transform: uppercase;
}

.h1-home {
    font-size: 144px;
    margin: 0;
    text-transform: uppercase;
}

.p-home {
    font-size: 18px;
    margin: 0;
}

.explore {
    border-radius: 100%;
    width: 272px;
    height: 272px;
    border: none;
    font-size: 32px;
    text-transform: uppercase;
}

.explore:hover {
    box-shadow: 0 0 0 75px rgba(241, 243, 241, 0.15);
    cursor: pointer;
}

.dest-sect {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 50px 150px;
    margin-top: 0;
    padding-top: 0;
}

#dest-img {
    margin-right: 100px;
    margin-top: 150px;
    width: 50%;
    height: 50%;
}


.destinations {
    display: flex;
    justify-content: flex-start;
}

.dest-nav {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 0;
    margin: 30px;
    margin-left: 0;
}

.dest-nav li:hover {
    text-decoration: underline;
}

.dest-nav a {
    padding: 20px;
    padding-left: 0;
    margin: 10px 10px 30px 0;
    font-size: 16px;
    line-height: 19.2%;
    letter-spacing: 2px;
}

.dest-info {
    width: 700px;
}

#dest-title {
    font-size: 100px;
    margin: 0;
}

.destination-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
    margin: 50px;
    padding: 30px;
}

#dest-desc {
    margin-top: 30px;
}

.dest-details {
    display: flex;
    justify-content: flex-start;
    margin: 10px 10px 10px 0;
}

.dest-distance  {
    display: flex;
    flex-direction: column;
}

.dest-distance, .dest-time {
    font-size: 14px;
    line-height: 16.8%;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 50px;
    width: 300px;
}

#dest-distance, #dest-time {
    font-size: 28px;
    line-height: 32.1%;
    letter-spacing: 0;
    margin-top: 20px;
    text-transform: uppercase;
}

.dest-time {
    display: flex;
    flex-direction: column;
    margin-right: 90px;
}

.h2-crew, .h2-tech, .h2-destination {
    font-size: 1.5rem;
    line-height: 19.8%;
    letter-spacing: 0;
    margin-top: 70px;
    margin-right: 0;
}

.crew-container, .tech-container {
    margin: 20px;
    margin-left: 150px;
}

.crew-details, .tech-details {
    display: flex;
    flex-direction: row-reverse;
    margin: 80px;
    margin-top: 0;
    padding: 30px;
    justify-content: center;
    align-items: center;
}

.crew-details {
    margin-bottom: 0;
    padding-bottom: 0;
}

.crew-title, .tech-title {
    font-size: 28px;
    line-height: 33.6%;
    letter-spacing: 4px;
    margin: 0;
    margin-bottom: 30px;
    text-transform: uppercase;
    color: #919090;
}

.crew-name, .tech-term {
    font-size: 56px;
    letter-spacing: 0;
    margin: 0;
}

.crew-img {
    width: 40%;
    margin: 100px;
    margin-top: 0;
    margin-bottom: 0;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1.0) 65%, transparent 100%);
}

#crew-nav {
    display: flex;
    justify-content: space-around;
    width: 300px;
    margin-left: 90px;
}

.circle {
    height: 10px;
    width: 10px;
    background-color: #4d4d4d;
    border-radius: 50%;
}

.circle:hover {
    cursor: pointer;
}

.circle.active {
    background-color: #fff;
}

.tech-img {
    margin-left: 100px;
    width: 170%;
}

.tech-details, .tech-container {
    margin-right: 0;
    padding-right: 0;
}

.tech-details {
    margin-top: 100px;
}

.tech-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.tech-nav li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: none;
    margin: 30px;
    list-style: none !important;
    border: #4d4d4d solid .2px;
}

.tech-nav a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
    font-size: 22px;
}

.tech-nav li:hover {
    background-color: #fff;
}

.tech-nav a:hover {
    color: #000;
}

.tech-nav li.active, .tech-nav a.active {
    background-color: #fff;
    color: #000;
    width: 30px;
    height: 20px;
    border-radius: 50%;
    
}

@media only screen and (max-width: 800px) {
    .menu-icon {
        display: block;
        margin: 5px;
    }

    .hideOnMobile {
        display: none;
    }

    .navlink {
        background-color: rgba(0, 0, 0, 0);
        margin: 0;
        padding: 10px;
        height: 30px;
        width: 10px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
    }

    .navlink>li {
        padding: 0;
    }

    .sidebar>li {
        margin: 20px;
    }


    /* .nav-header {
        display: flex;
        flex-direction: row-reverse;
    } */

    /* .nav {
        flex-direction: column;
        align-items: flex-start;
        margin: 10px;
        width: 80%;
    } */

    /* .navlink {
        display: flex;
        flex-direction: column;
        width: 20px;
        height: 20px;
        margin: 0;
        background-color: rgba(255, 255, 255, .1);
        backdrop-filter: blur(5px);
        text-align: center;
    } */

    /* .navlink.active {
        display: flex;
    }

    .navlink>li {
        padding: 15px;
        width: 100%;
        text-align: center;
    }

    .navlink a {
        width: 100%;
        padding: 10px 0;
    } */

    .sect-home, .crew-container, .tech-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 20px;
        margin: 10px;
    }

    .home-text, .tech-card {
        width: 80%;
        margin: 20px 0;
    }

    .destination-text {
        width: 40%;
        margin: 20px;
    }

    .dest-info {
        margin: 0;
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .destination-nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 80%;
        font-size: 16px;
    }
    
    nav .dest-nav {
        display: flex;
        flex-direction: row;
        margin-left: 35px;
    }

    .dest-sect {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 20px;
        margin: 10px;
        width: 80%;
    }

    .destinations {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        width: 80%;
    }

    #dest-title {
        font-size: 50px;
    }
    
    .dest-details {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-left: 80px;
    }

    #dest-desc {
        width: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 40px;
    }

    #dest-img {
        width: 30%;
        height: auto;
        margin: 0;
    }

    .dest-distance, .dest-time {
        margin: 5px;
        font-size: 12px;
    }

    .dest-distance p {
        margin: 20px;
        width: 100%;
        height: 30%;
        font-size: 9px;
    }

    .dest-time p {
        margin: 20px;
        width: 200px;
        height: 30%;
        font-size: 9px;
    }

    #dest-distance, #dest-time {
        margin: 0;
        font-size: 18px;
    }

    .crew-card {
        margin: 20px;
    }

    .crew-details {
        display: flex;
        flex-direction: column;
    }

    .h2-home, .h2-crew, .h2-tech, .h2-destination {
        font-size: 24px;
    }

    .h1-home {
        font-size: 100px;
    }

    .p-home, #dest-desc, #tech-desc, #crew-description {
        font-size: 16px;
    }

    .crew-title, .tech-details {
        margin: 0;
        padding: 0;
    }

    #crew-nav {
        margin: 10px;
    }

    .tech-title {
        margin: 10px;
        height: 60px;
        width: 300px;
        font-size: 22px;
    }

    .explore {
        width: 200px;
        height: 200px;
        font-size: 24px;
    }

     .crew-img, .tech-img {
        width: 80%;
        height: auto;
        margin: 0;
    }

    .dest-nav, .tech-nav {
        flex-direction: column;
        align-items: center;
    }

    .dest-nav a, .tech-nav a {
        padding: 10px;
        margin: 5px 0;
    }

    .tech-details {
        display: flex;
        flex-direction: column-reverse;
    }

    .tech-nav {
        display: flex;
        flex-direction: row;
    }
}